#logo {
	color: olive;
	text-align: center;
	border: none;
}

.billtable {
	border-collapse: collapse;
	width: 100%; th , td { text-align : left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

}
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5
}

.mycss {
	text-shadow: 1px 1px 0 rgba(NaN, NaN, NaN, 0.6);
	font-weight: bold;
	color: #000000;
	border: 4px inset #b5a759;
	letter-spacing: 1pt;
	word-spacing: 5pt;
	font-size: 15px;
	text-align: left;
	font-family: comic sans, comic sans ms, cursive, verdana, arial,
		sans-serif;
	line-height: 2;
	margin: 0px;
	padding: 0px;
}