<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AmazonWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.project.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerDetails</display-name>
    <servlet-name>UpdateCustomerDetails</servlet-name>
    <servlet-class>com.project.controller.UpdateCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerDetails</servlet-name>
    <url-pattern>/UpdateCustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.project.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEntry</display-name>
    <servlet-name>AdminEntry</servlet-name>
    <servlet-class>com.project.controller.AdminEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEntry</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableCategory</display-name>
    <servlet-name>AvailableCategory</servlet-name>
    <servlet-class>com.project.controller.AvailableCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableCategory</servlet-name>
    <url-pattern>/AvailableCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCategory</display-name>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>com.project.controller.addCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.project.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProducts</display-name>
    <servlet-name>GetProducts</servlet-name>
    <servlet-class>com.project.controller.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProducts</servlet-name>
    <url-pattern>/GetProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCategoryServlet</display-name>
    <servlet-name>RemoveCategoryServlet</servlet-name>
    <servlet-class>com.project.controller.RemoveCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCategoryServlet</servlet-name>
    <url-pattern>/RemoveCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductServlet</display-name>
    <servlet-name>RemoveProductServlet</servlet-name>
    <servlet-class>com.project.controller.RemoveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductServlet</servlet-name>
    <url-pattern>/RemoveProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.project.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategory</display-name>
    <servlet-name>ViewCategory</servlet-name>
    <servlet-class>com.project.controller.ViewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategory</servlet-name>
    <url-pattern>/ViewCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.project.controller.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/ViewProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillHistory</display-name>
    <servlet-name>BillHistory</servlet-name>
    <servlet-class>com.project.controller.BillHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillHistory</servlet-name>
    <url-pattern>/BillHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.project.controller.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.project.controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAllBill</display-name>
    <servlet-name>CustomerAllBill</servlet-name>
    <servlet-class>com.project.controller.CustomerAllBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAllBill</servlet-name>
    <url-pattern>/CustomerAllBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.project.controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertIntoCart</display-name>
    <servlet-name>InsertIntoCart</servlet-name>
    <servlet-class>com.project.controller.InsertIntoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertIntoCart</servlet-name>
    <url-pattern>/InsertIntoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallErrorPageServlet</display-name>
    <servlet-name>CallErrorPageServlet</servlet-name>
    <servlet-class>com.project.controller.CallErrorPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallErrorPageServlet</servlet-name>
    <url-pattern>/CallErrorPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>com.project.controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart2</display-name>
    <servlet-name>RemoveFromCart2</servlet-name>
    <servlet-class>com.project.controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart2</servlet-name>
    <url-pattern>/RemoveFromCart2</url-pattern>
  </servlet-mapping>
</web-app>